---
version: '2'

services:

{% for ca in cas %}
  {{ ca.name }}.{{ ca.org }}:
    container_name: {{ ca.name}}.{{ ca.org }}
    image: hyperledger/fabric-ca:{{ fabric.baseimage_tag }}
    network_mode: bridge
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME={{ ca.name}}.{{ ca.org }}
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_TLS_CERTFILE=/etc/hyperledger/fabric-ca-server-config/ca.{{ ca.org }}-cert.pem
      - FABRIC_CA_SERVER_TLS_KEYFILE=/etc/hyperledger/fabric-ca-server-config/ca.{{ ca.org}}.sk
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/keyfiles/peerOrganizations
    volumes:
      - ./{{ ca.org }}/ca/:/etc/hyperledger/fabric-ca-server-config
    command: sh -c 'fabric-ca-server start --ca.certfile /etc/hyperledger/fabric-ca-server-config/ca.{{ ca.org }}-cert.pem --ca.keyfile /etc/hyperledger/fabric-ca-server-config/ca.{{ ca.org }}.sk -b admin:adminpw -d'
{% endfor %}
