---
version: '2'

services:

{% for orderer in orderers %}
  {{ orderer.name }}.{{ orderer.org }}:
    container_name: {{ orderer.name }}.{{ orderer.org }}
    image: hyperledger/fabric-orderer:{{ fabric.baseimage_tag }}
    network_mode: bridge
    environment:
      - ORDERER_GENERAL_LOGLEVEL=debug
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
      - ORDERER_GENERAL_LOCALMSPID={{ orderer.name }}.{{ orderer.org }}_MSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/{{ orderer.org }}}/{{ orderer.name }}.{{ orderer.org }}.tls.sk
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/{{ orderer.org }}/{{ orderer.name }}.{{ orderer.org }}.tls.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/{{ orderer.org }}/{{ orderer.org }}.crt]
    working_dir: /opt/gopath/fabric/keyfiles/{{ orderer.org }}
    volumes:
      - ../channel-artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
      - .:/var/hyperledger/orderer
    command: orderer

{% endfor %}

