---
version: '2'

services:

{% for peer in peers %}
  {{ peer.name }}.{{ peer.org }}:
    container_name: {{ peer.name }}.{{ peer.org }}
    image: hyperledger/fabric-orderer:{{ fabric.baseimage_tag }}
    network_mode: bridge
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_LOGGING_LEVEL=DEBUG
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_ENDORSER_ENABLED=true
      - CORE_PEER_GOSSIP_USELEADERELECTION=true
      - CORE_PEER_GOSSIP_ORGLEADER={{ (peer.role == "leader") | ternary('true','false') }}
      - CORE_PEER_PROFILE_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/{{ peer.name }}/{{ peer.name }}.{{ peer.org }}.tls.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/{{ peer.name }}/{{ peer.name }}.{{ peer.org }}.tls.sk
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/{{ peer.org }}.crt
      - CORE_PEER_ID={{ peer.name }}.{{ peer.org }}
      - CORE_PEER_ADDRESS={{ peer.name }}.{{ peer.org }}:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT={{ peer.name }}.{{ peer.org }}:7051
      - CORE_PEER_LOCALMSPID={{ peer.name }}.{{ peer.org }}_MSP
    working_dir: /opt/gopath/fabric/keyfiles/{{ peer.org }}
    volumes:
      - /var/run/:/host/var/run/
      - .:/etc/hyperledger/fabric
    command: peer node start

{% endfor %}