---
version: '2'

services:

{% for zookeeper in zookeepers %}
  {{ zookeeper }}:
    container_name: {{ zookeeper }}
    image: hyperledger/fabric-zookeeper:{{ thetag }}
    network_mode: bridge
    hostname: {{ zookeeper }}
    restart: always
    environment:
      - ZOO_MY_ID={{ zoo_ids[zookeeper] }}
      - ZOO_SERVERS={{ znodes | trim }}
{% endfor %}
